<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bambu Status</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Hello</h1>
    <p>Subtask name: {{ bambu_status.subtask_name }}</p>
    <p>Gcode State: {{ bambu_status.gcodeState }}</p>
    <p>Ams Temp: {{ bambu_status.amsTemp }}</p>
    <p>etc...</p>
    <script src="static/index.js"></script>
  </body>
</html>
