<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bambu Status</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Bambu status</h1>
    <p>subtask_name: {{ bambu_status.subtask_name }}</p>
    <p>amsTemp: {{ bambu_status.amsTemp }}</p>
    <p>bedTargetTemper: {{ bambu_status.bedTargetTemper }}</p>
    <p>bedTemper: {{ bambu_status.bedTemper }}</p>
    <p>chamberTemper: {{ bambu_status.chamberTemper }}</p>
    <p>failReason: {{ bambu_status.failReason }}</p>
    <p>gcodeState: {{ bambu_status.gcodeState }}</p>
    <p>mcPercent: {{ bambu_status.mcPercent }}</p>
    <p>mcPrintErrorCode: {{ bambu_status.mcPrintErrorCode }}</p>
    <p>mcRemainingTime: {{ bambu_status.mcRemainingTime }}</p>
    <p>nozzleTargetTemper: {{ bambu_status.nozzleTargetTemper }}</p>
    <p>nozzleTemper: {{ bambu_status.nozzleTemper }}</p>
    <p>printError: {{ bambu_status.printError }}</p>
    <script src="static/index.js"></script>
  </body>
</html>
